<footer class="site-footer">
  <div class="wrapper">
    <p>
      <a href="https://github.com/amzn/ion-c">Ion C</a>
      | <a href="https://github.com/amzn/ion-dotnet">Ion .NET</a>
      | <a href="https://github.com/amzn/ion-go">Ion Go</a>
      | <a href="https://github.com/amzn/ion-java">Ion Java</a>
      | <a href="https://github.com/amzn/ion-js">Ion JavaScript</a>
      | <a href="https://github.com/amzn/ion-python">Ion Python</a>
    </p>
    <p>
      <a href="https://amzn.github.io/ion-docs">Ion</a>
      | <a href="https://amzn.github.io/ion-hash">Ion Hash</a>
      | <a href="https://amzn.github.io/ion-schema">Ion Schema</a>
    </p>
    <p>
      Copyright 2009-{{ 'now' | date: "%Y" }} Amazon.com, Inc. or its affiliates. All Rights Reserved.
    </p>
  </div>
</footer>
